.nav {
    height: 100vh;
    background-image: linear-gradient(to bottom right, #05121f, #3e3498);
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav-title {
    padding: 16px;
    color: #4bfc45
}

.side-nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.side-nav-li {
    padding: 16px;
}

.side-nav-li:hover {
    background-color: rgb(60, 83, 160);
}

.side-nav-link {
    text-decoration: none;
    color: #44ff7c;
}
