.header {
    padding: 16px;
    background-color: #001122;
    //background-image: linear-gradient(to top right, #001122, #88ddbb);
    color: aquamarine;
}

.header-lo-button {
    margin-left: 16px;
    cursor: pointer;
    float: right;
}