.header {
    padding: 16px;
    background-color: #ffffff;
    color: rgb(18, 32, 27);
    box-shadow: 0 4px 2px -2px gray;
}

.header .profile-icon {
    font-size: 21px;
    color: #000000;
    margin-right: 8px;
}

.header-lo-button {
    margin-left: 16px;
    cursor: pointer;
    float: right;
}